@use 'variables';

/* Creacion de mixins */


/* ES COMO UNA FUNCION EN PROGRMACION */

@mixin desktop_view ($width, $height:unset, $font-size:unset) {
    /* le agregamos un argumento   variable */
    @media(min-width: 1440px) {
        width: $width;
        height: $height;
        font-size: $font-size;
    }
}

@mixin button ($bg-color, $br-color, $fn-color, $width, $height, $center) {
    background-color: $bg-color;
    border: none;
    border: 1px solid $br-color;
    border-radius: 50px;
    display: block;
    color: $fn-color;
    width: $width;
    height: $height;
    @if $center==true {
        margin: 0 auto;
    }
}

@mixin button-hover ($bg-color) {
    &:hover {
        cursor: pointer;
        background-color: $bg-color;
        color: variables.$white;
    }
}

@mixin stats ($logo) {
    margin-bottom: 90px;
    &__logo {
        width: $logo;
    }
    &__stats {
        font-size: 4em;
        margin: 0;
    }
    &__description {
        font-size: 0.8em;
        text-align: center;
        @content
    }
}